name: 'Mend Slack Notifier'

on:
  discussion:
    types: [labeled]

permissions:
  discussions: read

jobs:
  slack:
    if: contains(github.event.label.name, 'mend-app')
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - name: Post to Slack
        id: slack
        uses: slackapi/slack-github-action@37ebaef184d7626c5f204ab8d3baff4262dd30f0 # v1.27.0
        with:
          channel-id: 'C05NLTMGCJC'
          # For posting a simple plain text message
          slack-message: '<${{ github.event.discussion.html_url }}|${{ github.event.discussion.title }}>'
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
